footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: var(--step--2);

  // switch to row on larger screens
  @media (min-width: 600px) {
    margin-left: unset;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

ul {
  display: flex;
  flex-direction: column;

    // switch to row on larger screens
    @media (min-width: 600px) {
      list-style: none;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

