<div class="flow content">
<img src="/images/mbs_full_logo.svg" alt="MBS Logo" />

<mat-list class="topics">
  <mat-list-item>MEN</mat-list-item>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-list-item>MILITARY</mat-list-item>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-list-item>MENTORING</mat-list-item>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-list-item>FAMILIES</mat-list-item>
</mat-list>

<hr />

<p>A custom-built therapy model that integrates mental, physical, and Spiritual interventions so you and your family can thrive.</p>

<hr />

  <app-countdown />

<hr />

<h2>4 Ways to Learn More</h2>

<mat-list class="links">
  <mat-list-item><button mat-raised-button>Download PDF</button></mat-list-item>
  <mat-list-item><button mat-raised-button>Skyer's Bio</button></mat-list-item>
  <mat-list-item><button mat-raised-button>Contact Skyler</button></mat-list-item>
  <mat-list-item><button mat-raised-button>Schedule Session 1</button></mat-list-item>
</mat-list>
</div>
