app-countdown {
  display: block;
}

hr {
  width: 95vw;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flow > * + * {
  margin-top: var(--step-0);
}

.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      width: fit-content;
    }

    @media (min-width: 600px) {
      flex-direction: row;
    }

  }

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    width: fit-content;
  }

    @media (min-width: 600px) {
      flex-direction: row;
    }
}
